.card-brand {
  height: 72px;
  padding: 6px 6px 6px 16px;
  display: flex;
  align-items: center;
  border: 1px solid #eaeaea;
  border-radius: 6px;
  background-color: gold;
  background-image: url("./assets/svg/icon-arrow-card.svg");
  background-repeat: no-repeat;
  background-position: right 16px center;
}
