.brands {
  &__section-header {
    margin-bottom: 15px;

    @include media-Small-min-width {
      margin-bottom: 24px;
    }
  }

  &__slider {
    height: 72px;
    transition: height 500ms;

    @include media-Small-min-width {
      min-height: 160px;
      margin-bottom: 23px;
      overflow: hidden;
    }
  }

  &__wrapper {

    @include media-Small-min-width {
      display: grid;
      grid-template-columns: repeat(auto-fill, minmax(210px, 1fr));
      row-gap: 16px;
      column-gap: 24px;
    }

    @include media-Medium-min-width {
      grid-template-columns: repeat(auto-fill, minmax(210px, 1fr));
      column-gap: 32px;
    }
  }

  .brands__slider-pagination.swiper-pagination {
    top: 182px;

    .swiper-pagination-bullet {
      width: 12px;
      height: 12px;
      margin: 0px 6px;
      // background-color: #dddddd;
      background-color: dodgerblue;
    }

    .swiper-pagination-bullet.swiper-pagination-bullet-active {
      // background-color: #B5B6BC;
      background-color: tomato;
    }
  }

  .brands__show-all-button {
    display: none;

    @include media-Small-min-width {
      padding-left: 30px;
      display: inline-block;
      font-family: var(--font-family);
      font-weight: 500;
      font-size: 16px;
      line-height: 150%;
      letter-spacing: -0.01em;
      color: var(--color-text-primary);
      background-image: url('./assets/svg/icon-arrow-down.svg');
      background-repeat: no-repeat;
      background-position: left 7px center;
      cursor: pointer;

      &--expanded {
        background-image: url('./assets/svg/icon-arrow-up.svg');
      }
    }
  }
}
