*,
::after,
::before {
  box-sizing: border-box;
  // @include visible-bound()
}

html {
  height: 100%;
  // background-image: url("./assets/svg/cell-96-160.svg");
}

body {
  min-width: 320px;
  height: 100%;
  margin: 0;
  font-family: var(--font-family);
  font-weight: 400;
  color: var(--color-text-secondary);
  background-color: var(--color-section-background);
  // background-image: url("./assets/svg/cell-body.svg");
}

a {
  color: inherit;
  text-decoration: none;
  outline-offset: -1px;
}

img {
  max-width: 100%;
  object-fit: cover;
}

ul,
ol {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

button {
  padding: 0;
  border: none;
  background-color: transparent;
}

.container {
  max-width: 1120px;
  margin: 0 auto;
  padding: 0 16px;

  @include media-Medium-min-width {
    padding: 0 24px;
  }

  @include media-Large-min-width {
    padding: 0 32px;
  }
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
